.footerbg{
    background-color: black;
    color: white;
    .footer-list{
        line-height: 2.2;
    }
    a{
        text-decoration: none;
        color: grey;
    }
    span{
        color: grey;
    }
    button{
        position: relative;
        background-color: transparent   !important;
        color: #e6007a; 
        padding: 15px 20px !important ;
        border-color: #e6007a;
        border-radius: 25px !important;
        font-weight: 500 !important;     
        &:hover{
            background-color: #e6007a !important;
            color: white;
        }
    }
}

.card-img-top{
    aspect-ratio: 2/1 !important;
}
.card-footer{
    background-color: white !important;
    border: none !important;
   
}
.blogspan{
    color: #e6007a !important;
}

.invovled{
    padding-top: 180px;
    padding-bottom: 180px;
    text-align: center;
    .heading{
        
        font-size: 60px;
        font-weight: 700;
        
    }
    button{
        position: relative;
        background-color: transparent   !important;
        color: #e6007a; 
        padding: 15px 20px !important ;
        border-color: #e6007a;
        border-radius: 25px !important;
        font-weight: 500 !important;     
        &:hover{
            background-color: #e6007a !important;
            color: white;
        }
    }
}

.teambg{
    background-image: url("Media/web3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    .heading{
        font-size: 60px;
        font-weight: 750;
    }
    button{
        position: relative;
        background-color: transparent   !important;
        color: white; 
        padding: 15px 20px !important ;
        border-color: #e6007a;
        border-radius: 25px !important;
        
        font-weight: 800 !important;     
        &:hover{
            background-color: #e6007a !important;
            color: white;
        }
    }
}
@media screen and (max-width:600px) {
    .teamheading{
        font-size: 30px !important;
        font-weight: 600 !important;
    }
    // .blog{
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     .card{
    //        display: flex;
    //         width: 19rem !important;
           

    //     }
    // }
    
}

.openbg{
    background-color:#e6007a;
    color: white;
    .heading{
        font-size: 50px !important;
        font-weight: 700;

    }
    p{
        font-size: 20px;
    }
}
.powerbg{
    background-color: black !important;
     color: white!important;
     .card{
        background-color: transparent !important;
     }
     .heading{
        font-size: 50px!important;
        font-weight: 700;
     }
     button{
        position: relative;
        background-color: transparent   !important;
        color: #e6007a; 
        padding: 15px 20px !important ;
        border-color: #e6007a;
        border-radius: 25px !important;
        font-weight: 500 !important;     
        &:hover{
            background-color: #e6007a !important;
            color: white;
        }
    }
}
.interoparaility{
    .card{
        border : none !important;

    }
    .heading{
        font-size: 45px;
        font-weight: 700;
    }
    .card-title{
        font-weight: 750 !important;
    }
    button{
        position: relative;
        background-color: transparent   !important;
        color: #e6007a; 
        padding: 15px 20px !important ;
        border-color: #e6007a;
        border-radius: 25px !important;
        font-weight: 500 !important;     
        &:hover{
            background-color: #e6007a !important;
            color: white;
        }
    }
}
.hero{
    .vision{
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .heading{
        font-size: 60px;
        font-weight: 700;
    }
    button{
        position: relative;
        background-color: transparent   !important;
        color: #e6007a; 
        padding: 15px 20px !important ;
        border-color: #e6007a;
        border-radius: 25px !important;
        font-weight: 500 !important;     
        &:hover{
            background-color: #e6007a !important;
            color: white;
        }
    }
  

    .heroimg{
        display: flex;
        justify-content: center;        
    }

    .bgimg{ 
        height: 300px;
        width: 300px;
        .outerimg{
        height: 100%;
        width: 100%;
        background-image: url("Media/xcm-animation-outer.svg");
        background-repeat: no-repeat;
        // background-position: center;
        background-size: contain;  
    }
    .innerimg{
        height: 100%;
        width: 100%;
        background-image: url("Media/xcm-animation-inner.png");
        background-repeat: no-repeat;
        // background-position: center;
        background-size: contain;
        
        
    }  
    
}

}

.techero{
    h1{
        font-size:70px;
        font-weight: 700;
    }
}
.blockchainbg{
    background-color: #172026;
    color: white;
    .blockchain{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.gitbg{
    // background-color: #172026;

    .github{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
}
.networkbg{
    background-color: #d64cA8;
    padding-top: 120px;
        padding-bottom: 120px;
    color: white;
    .network{
        
        font-size: 40px;
        align-items: center;
        font-weight: 700;
    }
}
.connect{
    .card{
        border: none !important;
    }
    .heading{
        font-size: 50px;
        font-weight: 750;
    }
}
.builtbg{
    background-color: #efefef ;
    .stack{
        display: flex;
        align-items: center;
    }
    .builtheading{
        font-size: 50px;
        font-weight: 750;
    }
}
.modelbg{
    .securitymodel{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.parachainbg{
    background-color: #172026;
    color: white;
    .para{
        line-height: 1.5;
    }
    button{
        background-color: transparent   !important;
        color: white !important;
        padding: 15px 20px !important ;
        border-radius: 25px !important;
        font-weight: 500 !important;
        border-color: white !important;
    }
    button:hover{
        background-color: white!important;
        color: palevioletred!important;
        border-color: white!important;
    }
}
.example{
    .card{
        background-color: white !important;
        border: none !important;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;       
    }
}


@media screen and (max-width: "600px"){
    .techero{
        h1{
            font-size: 2.5rem;
        }
    
}
}


.comhero{
    .heading{
        font-size: 70px;
        font-weight: 700;
    }
}

.twitterbg{
    // background-color: #172026;

    .twitter{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
}
.runbg{
     background-color: #172026;
     color: white;
     .heading{
        font-size: 60px;
        font-weight: 700;
     }
     .badge{
        background-color: transparent !important;
        border: 1px solid #e6007a ;
        
        &:hover{
            background-color: #e6007a !important;
            font-size: large !important;
        }
     }
     h5{
        line-height: 1.7;
     }
}
.upcommingbg{
    background-image: url("Media/web3-summit-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    .heading{
        font-size: 70px;
        font-weight: 700;
    }
    button{
        position: relative;
        background-color: transparent   !important;
        color: #e6007a; 
        padding: 15px 20px !important ;
        border-color: #e6007a;
        border-radius: 25px !important;
        font-weight: 500 !important;     
        &:hover{
            background-color: #e6007a !important;
            color: white;
        }
    }
}
.grantbg{
    background-color: #efefef ;
    .stack{
        display: flex;
        align-items: center;
    }
    .heading{
        font-size: 40px;
        font-weight: 750;
    }
    button{
        position: relative;
        background-color: transparent   !important;
        color: #e6007a; 
        padding: 15px 20px !important ;
        border-color: #e6007a;
        border-radius: 25px !important;
        font-weight: 500 !important;     
        &:hover{
            background-color: #e6007a !important;
            color: white;
        }
    }
    li{
        font-size: larger !important;
    }
}
.validatorbg{
    .heading{
        font-size: 40px;
        font-weight: 750;
    }
    b{
        font-size: 30px;
        font-weight: 700;
    }
    p{
        font-size: 20px;
        font-weight: 400;
    }
    li{
        font-size: 20px;
        font-weight: 400;
    }
    .validator{
        color:#d64cA8;
    }

}
.generalbg{
    background-color: #172026;
    color: white;
    .general{
        color: black;
    }

    .github{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .line{
        display: flex;
        justify-content: center;
        // align-items: center;
    }
    .heading{
        font-size: 40px;
        font-weight: 700;
    }
    
}

@media screen and (max-width: "600px"){
    .comhero{
        .heading{
            font-size: 3.5rem;
        }
        h4{
            font-size: 1 rem;
        }
    
}
}


.buildhero{
    .heading{
        font-size: 70px;
        font-weight: 700;
    }
    button{
        position: relative;
        background-color: transparent   !important;
        color: #e6007a; 
        padding: 15px 20px !important ;
        border-color: #e6007a;
        border-radius: 25px !important;
        font-weight: 500 !important;     
        &:hover{
            background-color: #e6007a !important;
            color: white;
        }
    }
}

.easilybg{
    background-color: #172026;
    color: white;
    .heading{
       font-size: 50px;
       font-weight: 700;
    }
    h1{
        font-size: 25px;
        font-weight: 800;
    }
    .badge{
       background-color: transparent !important;
       border: 1px solid #e6007a ;
       
       &:hover{
           background-color: #e6007a !important;
           font-size: large !important;
       }
    }
    h5{
       line-height: 1.2;
    }
    h4{
        color: #e6007a;
    }
}

.tools{
    .card{
        background-color: white !important;
        border: none !important;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;       
    }
    .toolbold{
        color: #e6007a;
        line-height: 2;
    }
    h1{
        font-size: 50px;
        font-weight: 700;
    }
}
.missionbg{
    background-color: #172026;
    color: white;
    button{
        position: relative;
        background-color: transparent   !important;
        color: #e6007a; 
        padding: 15px 20px !important ;
        border-color: #e6007a;
        border-radius: 25px !important;
        font-weight: 500 !important;     
        &:hover{
            background-color: #e6007a !important;
            color: white;
        }
    }
    .heading{
        font-size: 40px;
        font-weight: 800;
    }
    p{
        font-size: 20px;
        font-weight: 300;
    }
}

.blog{
    .heading{
        font-size: 50px;
        font-weight: 700;
    }
}




